* {
  margin: 0;
  padding: 0;
}

.users-container,
.post-section {
  display: grid;
  grid-template-rows: auto;
  padding: 50px;
  gap: 10px;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

.user-card {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: 15% 85%;
  gap: 20px;
}

.user-image {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

.user-info {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.user-name {
  align-self: center;
  line-height: 20px;
  font-size: 50px;
}

.user-posts {
  align-self: flex-end;
}

.bio {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid black;
}

ul {
  list-style: none;
}

.post {
  width: 100%;
  height: auto;
  padding: 10px;
  border: 1px solid black;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.post-info {
  text-align: end;
}

.post-see-more {
  width: 20%;
  justify-self: center;
  text-align: center;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}

.comments {
  border: 1px solid black;
  width: 100%;
  padding: 10px;
}

.post-header {
  font-size: 30px;
  font-weight: bolder;
}

.post-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
}

.post-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
